*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}
.container{
    width: 60%;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
.mb{
    margin-bottom: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.mr{
    margin-right: 2%;
}
.demo{
    background-color: antiquewhite;
    min-height: 100px;
}
.header{
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 1vw;
    color: blue;
}
.header h1{
    margin: 20px;
    font-size: 1.2vw;
}
.menu{
    background-color: black;
    color: #ccc;
    border-radius: 5px;
}
.menu ul{
    padding: 0 10px;
}
.menu ul li{
    list-style-type: none;
    display: inline;
    padding: 0 15px;
}
.menu ul li a{
    color: #ccc;
    text-decoration: none;
    transition: 0.5s;
}
.menu ul li a:hover{
    color: white;
    font-size: 0.8vw;
}
.headeradmin{
    background-color: #eee;
    border: 1px #ccc solid;
    border-radius: 5px;
    color: #666;
    padding: 0px 20px;
}
.headeradmin h1{
    font-size: 2vw;
}
.formtitle{
    background-color: #eee;
    border: 1px #ccc solid;
    border-radius: 5px;
    color: #666;
    padding: 0px 20px;
}
.formcontent{
    padding: 20px 0;
}
.formcontent input[type="text"]{
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.formcontent input[type="submit"],.formcontent input[type="reset"],.formcontent input[type="button"]{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px #ccc solid;
}
.formcontent input[type="submit"]:hover,.formcontent input[type="reset"]:hover,.formcontent input[type="button"]:hover{
    background-color: #ccc;
}